.form {
    max-width: 28rem;

    margin: 0 auto;
    padding: 1.5rem;
    border: 1px solid #ddd;

}

.form__group {
    margin-bottom: 1rem;
}

.form__group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form__group input {
    width: 100%;
    padding: .3rem 1rem;
    box-sizing: border-box;
}

.button {
    width: 100%;
    padding: .8rem;
    background-color: #4575fa;
    border: none;
    cursor: pointer;

    transition: .3s;

}


button:hover {
    transform: scale(1.01);
}