
.product-item {
    background-color: #fff;

    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;

    margin: 1rem;
    width: 300px;
    padding: 1rem;

    display: flex;
    flex-direction: column;
}


.product-item__image {
    width: 100%;
    height: 200px;
    object-fit: contain;
}


.product-item__body {
    padding: 1rem;

    flex: 1;
    display: flex;
    flex-direction: column;
}


.product-item__title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
}

.product-item__price {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #555;
}


.product-item__description {
    flex: 1;
    font-size: 1rem;
    margin-bottom: 1rem;
    color: #666;
}


.product-item__button {
    padding: .6rem;

    background-color: #4caf50;
    color: #fff;

    border: none;
    border-radius: 5px;
    
    cursor: pointer;
    font-size: 1rem;
    
    transition: background-color 0.3s ease;
}

.product-item__button:hover {
    background-color: #45a049;
}